<div class="row outer-test">

        <div class="col-lg-3 test"> {{currentDataSet.people}} {{currentDataSet.females}}
        </div>
        <div class="col-lg-3 test"> {{currentDataSet.music}} {{currentDataSet.musicSrc}} </div>
        <div class="col-lg-3 test"> {{currentDataSet.vibe}} {{currentDataSet.imgUrl}}</div>
        <div class="col-lg-3 test2"> {{currentDataSet.sender}} {{currentDataSet.Latitude}} {{currentDataSet.Latitude}}</div>
        
    </div>

    <div class="row outer-test">
        <div class="col-lg-2 test"> {{lastUserLoggedIn.firstName}} {{lastUserLoggedIn.lastName}}</div>
        <div class="col-lg-2 test"> {{lastUserLoggedIn.userName}}</div>
        <div class="col-lg-2 test"> {{lastUserLoggedIn.sessionPeriod}}</div>
        <div class="col-lg-2 test"> {{lastUserLoggedIn.loginTime}}</div>
        <div class="col-lg-2 test"> {{lastUserLoggedIn.loginDate}}</div>
        <div class="col-lg-2 test2"><button type="button" class="btn btn-link" ng-click=""> View Changes made</button></div>
    