<div class="container" ng-controller="loginController" ng-init="init()">

    <div class="row">
        
        <h1> NOL Admin Panel </h1>

        </div>

    <div class="row">

        <div class="col-lg-4"></div>
        
        <div class="col-lg-4">
            
            <div class="input-group input-group-lg">
              
              <span class="input-group-addon" id="sizing-addon1"></span>
              <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" ng-model="user.userName">
                
                </div>
            
            <div class="input-group input-group-lg">
              
              <span class="input-group-addon" id="sizing-addon1"></span>
              <input type="password" class="form-control" placeholder="password" aria-describedby="sizing-addon1" ng-model="user.password">
                
            </div>  

            

            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="login()">Login</button>    

          
            </div>

            




        </div>